<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item | Funkoshop</title>
    
    <link rel="stylesheet" href="/css/item_shop.css">
    <link rel="stylesheet" href="/css/Normalizacioncss.css">
</head>
<body>
  <!--  ************* HEADER ****************  -->
  <%- include("../partials/header_shop") %>

  <!--  ************** MAIN *****************  -->
    <main class="main-container"> <!--Inicio main-->
        <section class="item-collection container">
            <picture class="collection-cover card-item-cover">
                <img class="card-item-img--front" src="/img<%=item.image_front%>" alt="Figura Funko coleccionable de Grogu perteneciente a la serie The Mandalorian">
                <img class="card-item-img--back" src="/img<%=item.image_back%>" alt="Figura Funko coleccionable de Grogu perteneciente a la serie The Mandalorian en caja">
            </picture>
            <article class="item-collection-content">
                <p class="item-collection-licence"><%=item.licence_name%></p>
                <h3 class="item-collection-title"><%=item.product_name%></h3>
                <p class="item-collection-text"><%=item.product_description%></p>
                <p class="item-collection-price">$ <%=item.price%></p>
                <div class="card-item-promo">
                    <input id="quantity" class="item-input" type="number" min="0" name="quantity"  placeholder="0">
                    <div class="item-btns">
                        <button id="subtract" class="item-cantidad" type="button">-</button>
                        <button id="add" class="item-cantidad" type="button">+</button>
                    </div>
                    <button class="item-btn-carrito" type="submit">Agregar al carrito</button>
                </div>
                <a class="item-collection-link" href="/shop/cart.html"><u>Ver métodos de pago</u> - 3 CUOTAS SIN INTERÉS</a> 
            </article>
        </section>

        <section class="slider container glide">
            <h2 class="slider-title">PRODUCTOS RELACIONADOS</h2>
            <div class="glide__track" data-glide-el="track">
            <ul class="slider-items glide__slides">
                <li class="slider-item glide__slide">
                    <article  class="card-item">
                        <a class="card-item-link" href="/shop/item/4">
                            <picture class="card-item-cover">
                                <span class="card-item-tag">Nuevo</span>
                                <img class="card-item-img--front" src="/img/star-wars/trooper-1.webp" alt="Figura Funko coleccionable de Stormtrooper de Star Wars">
                                <img class="card-item-img--back" src="/img/star-wars/trooper-box.webp" alt="Figura Funko coleccionable de Stormtrooper de Star Wars en caja">
                            </picture>
                            <div class="card-item-content">
                                <p class="card-item-licence">STAR WARS</p>
                                <h4 class="card-item-name">STORMTROOPER LIGHTSABER</h4>
                                <p class="card-item-price">$1799,99</p>
                                <p class="card-item-promo">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
                <li class="slider-item glide__slide">
                    <article class="card-item">
                        <a class="card-item-link" href="/shop/item/7">
                            <picture class="card-item-cover">
                                <span class="card-item-tag">Nuevo</span>
                                <img class="card-item-img--front" src="/img/pokemon/pidgeotto-1.webp" alt="Figura Funko coleccionable de Pidgeotto perteneciente a la serie Pokemon">
                                <img class="card-item-img--back" src="/img/pokemon/pidgeotto-box.webp" alt="Figura Funko coleccionable de Pidgeotto perteneciente a la serie Pokemon en caja">
                            </picture>
                            <div class="card-item-content">
                                <p class="card-item-licence">POKEMON</p>
                                <h4 class="card-item-name">PIDGEOTTO</h4>
                                <p class="card-item-price">$1799,99</p>
                                <p class="card-item-promo">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
                <li class="slider-item glide__slide">
                    <article class="card-item">
                        <a class="card-item-link" href="/shop/item/12">
                            <picture class="card-item-cover">
                                <span class="card-item-tag">Nuevo</span>
                                <img class="card-item-img--front" src="/img/harry-potter/luna-1.webp" alt="Figura Funko coleccionable de Luna Lovegood Lion Mask de la película de Harry Potter">
                                <img class="card-item-img--back" src="/img/harry-potter/luna-box.webp" alt="Figura Funko coleccionable de Luna Lovegood Lion Mask de la película de Harry Potter en caja">
                            </picture>
                            <div class="card-item-content">
                                <p class="card-item-licence">HARRY POTTER</p>
                                <h4 class="card-item-name">LUNA LOVEGOOD LION MASK</h4>
                                <p class="card-item-price">$1799,99</p>
                                <p class="card-item-promo">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
            </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon icon="mdi:chevron-left"></iconify-icon></button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon icon="mdi:chevron-right"></iconify-icon></button>
            </div>
        </section>
    </main> <!--Fin main-->

    <!--  ************* FOOTER ****************  -->
    <%- include("../partials/footer") %>

    <!--  ************* SCRIPTS ****************  -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="/js/btns-item.js"></script>
    <script src="/js/glide.js"></script>
</body>
</html>