<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop | Funkoshop</title>
    <link rel="stylesheet" href="../../css/Normalizacioncss.css">
    <link rel="stylesheet" href="../../css/item_shop.css">
</head>

  <body>
  <!--  ************* HEADER ****************  -->

  <%- include("../partials/header") %>

  <!--  ************** MAIN *****************  -->

  <main class="container">
      <!--Filtros-->
      <section>

        <section class="filtro">
        <p>BUSCAR</p>
        <div class="op-filtro">
        <input class="orden-tamaño filtro" type="text" placeholder="Item o categoria" />
        </div>
        </section>

        <section class="filtro">
        <p>ORDENAR POR</p>
        <div class="op-filtro">
        <form action="#">
          <select class="orden-tamaño filtro">
            <option value="">Mayor a menor</option>
            <option value="">Menor a mayor</option>
            <option value="">Más vendidos</option>
            <option value="">Más recientes</option>
          </select>
        </form>
        </div>
        </section>

        <section class="filtro">
        <p>PRECIO</p>
        <div class="min-max op-filtro"> <!--No funcionan class-->
          <label>MIN</label> <!--Falta poner uno al lado del otro. Cambiar tamaño letra-->
          <input class="mm-btn" type="number" min="0" value="0" name="minimo"/>
          <p>-</p>
          <label>MAX</label>
          <input class="mm-btn" type="number" min="0" value="0" name="maximo"/>
        </div>
        </section>

        <section class="filtro">
        <p>FILTRAR</p>
        <div class="op-filtro">
        <ul class="check">
          <li>
            <label > <input class="input-check" type="checkbox" /> NUEVOS</label>
          </li>
          <li>
            <label> <input class="input-check" type="checkbox" /> OFERTAS</label>
          </li>
          <li>
              <label> <input class="input-check" type="checkbox" /> EDICIÓN ESPECIAL</label>
            </li>
            <li>
                <label> <input class="input-check" type="checkbox" /> FAVORITOS</label>
            </li>
        </ul>
        </div>
        </section>
      </section>
    
    <!--Lista de productos del shop-->

      <div class="grid-layout"> <!--Acomodar imagenes mismo tamaño-->
            <div  class="card-item card">
            <a class="card-item-link" href="./item.html">
              <picture class="card-item-cover">
                <span class="card-item-tag">Nuevo</span>
                <img class="card-item-img--front" src="../../img/star-wars/trooper-1.webp" alt="Figura Funko coleccionable de Stormtrooper de Star Wars">
                <img class="card-item-img--back" src="../../img/star-wars/trooper-box.webp" alt="Figura Funko coleccionable de Stormtrooper de Star Wars en caja">
              </picture>
                <div class="card-item-content">
                    <p class="card-item-licence">STAR WARS</p>
                    <h4 class="card-item-name">STORMTROOPER LIGHTSABER</h4>
                    <p class="card-item-price">$1799,99</p>
                    <p class="card-item-promo">3 CUOTAS SIN INTERÉS</p>
                </div>
            </a>
          </div>
                <div class="card-item card">
                <a class="card-item-link" href="./item.html">
                  <picture class="card-item-cover">
                    <span class="card-item-tag">Nuevo</span>
<!--                <img class="card-item-img--front" src="../../img/pokemon/pidgeotto-1.webp" alt="Figura Funko coleccionable de Pidgeotto perteneciente a la serie Pokemon">  -->
<!--                <img class="card-item-img--back" src="../../img/pokemon/pidgeotto-box.webp" alt="Figura Funko coleccionable de Pidgeotto perteneciente a la serie Pokemon en caja">  -->
                    <img class="card-item-img--front" src="../../<%=data.at(0).img_front %>" alt="Figura Funko coleccionable de Pidgeotto perteneciente a la serie Pokemon">
                    <img class="card-item-img--back" src="../../<%=data.at(0).img_back %>" alt="Figura Funko coleccionable de Pidgeotto perteneciente a la serie Pokemon en caja">

                  </picture>
                    <div class="card-item-content">
                        <p class="card-item-licence">POKEMON</p>
                        <h4 class="card-item-name"><!--PIDGEOTTO--> <%= data.at(0).product_name.toUpperCase() %></h4>
                        <p class="card-item-price">$1799,99</p>
                        <p class="card-item-promo">3 CUOTAS SIN INTERÉS</p>
                    </div>
                </a>
                </div>
                <div class="card-item card">
                  <a class="card-item-link" href="./item.html">
                    <picture class="card-item-cover">
                      <span class="card-item-tag">Nuevo</span>
                      <img class="card-item-img--front" src="../../img/harry-potter/luna-1.webp" alt="Figura Funko coleccionable de Luna Lovegood Lion Mask de la película de Harry Potter">
                      <img class="card-item-img--back" src="../../img/harry-potter/luna-box.webp" alt="Figura Funko coleccionable de Luna Lovegood Lion Mask de la película de Harry Potter en caja">
                    </picture>
                        <div class="card-item-content">
                            <p class="card-item-licence">HARRY POTTER</p>
                            <h4 class="card-item-name">LUNA LOVEGOOD LION MASK</h4>
                            <p class="card-item-price">$1799,99</p>
                            <p class="card-item-promo">3 CUOTAS SIN INTERÉS</p>
                      </div>
                  </a>
              </div>
                <div  class="card-item card">
                  <a class="card-item-link" href="./item.html">
                    <picture class="card-item-cover">
                      <span class="card-item-tag">Nuevo</span>
                      <img class="card-item-img--front" src="../../img/star-wars/trooper-1.webp" alt="Figura Funko coleccionable de Stormtrooper de Star Wars">
                      <img class="card-item-img--back" src="../../img/star-wars/trooper-box.webp" alt="Figura Funko coleccionable de Stormtrooper de Star Wars en caja">
                    </picture>
                      <div class="card-item-content">
                          <p class="card-item-licence">STAR WARS</p>
                          <h4 class="card-item-name">STORMTROOPER LIGHTSABER</h4>
                          <p class="card-item-price">$1799,99</p>
                          <p class="card-item-promo">3 CUOTAS SIN INTERÉS</p>
                      </div>
                  </a>
                </div>
              <div class="card-item card">
              <a class="card-item-link" href="./item.html">
                <picture class="card-item-cover">
                  <span class="card-item-tag">Nuevo</span>
                  <img class="card-item-img--front" src="../../img/pokemon/pidgeotto-1.webp" alt="Figura Funko coleccionable de Pidgeotto perteneciente a la serie Pokemon">
                  <img class="card-item-img--back" src="../../img/pokemon/pidgeotto-box.webp" alt="Figura Funko coleccionable de Pidgeotto perteneciente a la serie Pokemon en caja">
                </picture>
                  <div class="card-item-content">
                      <p class="card-item-licence">POKEMON</p>
                      <h4 class="card-item-name">PIDGEOTTO</h4>
                      <p class="card-item-price">$1799,99</p>
                      <p class="card-item-promo">3 CUOTAS SIN INTERÉS</p>
                  </div>
              </a>
              </div>
              <div class="card-item card">
                <a class="card-item-link" href="./item.html">
                  <picture class="card-item-cover">
                    <span class="card-item-tag">Nuevo</span>
                    <img class="card-item-img--front" src="../../img/harry-potter/luna-1.webp" alt="Figura Funko coleccionable de Luna Lovegood Lion Mask de la película de Harry Potter">
                    <img class="card-item-img--back" src="../../img/harry-potter/luna-box.webp" alt="Figura Funko coleccionable de Luna Lovegood Lion Mask de la película de Harry Potter en caja">
                </picture>
                      <div class="card-item-content">
                          <p class="card-item-licence">HARRY POTTER</p>
                          <h4 class="card-item-name">LUNA LOVEGOOD LION MASK</h4>
                          <p class="card-item-price">$1799,99</p>
                          <p class="card-item-promo">3 CUOTAS SIN INTERÉS</p>
                    </div>
                </a>
            </div>
            <div  class="card-item card">
              <a class="card-item-link" href="./item.html">
                <picture class="card-item-cover">
                  <span class="card-item-tag">Nuevo</span>
                  <img class="card-item-img--front" src="../../img/star-wars/trooper-1.webp" alt="Figura Funko coleccionable de Stormtrooper de Star Wars">
                  <img class="card-item-img--back" src="../../img/star-wars/trooper-box.webp" alt="Figura Funko coleccionable de Stormtrooper de Star Wars en caja">
                </picture>
                  <div class="card-item-content">
                      <p class="card-item-licence">STAR WARS</p>
                      <h4 class="card-item-name">STORMTROOPER LIGHTSABER</h4>
                      <p class="card-item-price">$1799,99</p>
                      <p class="card-item-promo">3 CUOTAS SIN INTERÉS</p>
                  </div>
              </a>
            </div>
            <div class="card-item card">
            <a class="card-item-link" href="./item.html">
              <picture class="card-item-cover">
                <span class="card-item-tag">Nuevo</span>
                <img class="card-item-img--front" src="../../img/pokemon/pidgeotto-1.webp" alt="Figura Funko coleccionable de Pidgeotto perteneciente a la serie Pokemon">
                <img class="card-item-img--back" src="../../img/pokemon/pidgeotto-box.webp" alt="Figura Funko coleccionable de Pidgeotto perteneciente a la serie Pokemon en caja">
              </picture>
                <div class="card-item-content">
                    <p class="card-item-licence">POKEMON</p>
                    <h4 class="card-item-name">PIDGEOTTO</h4>
                    <p class="card-item-price">$1799,99</p>
                    <p class="card-item-promo">3 CUOTAS SIN INTERÉS</p>
                </div>
            </a>
            </div>
            <div class="card-item card">
            <a class="card-item-link" href="./item.html">
              <picture class="card-item-cover">
                <span class="card-item-tag">Nuevo</span>
                <img class="card-item-img--front" src="../../img/harry-potter/luna-1.webp" alt="Figura Funko coleccionable de Luna Lovegood Lion Mask de la película de Harry Potter">
                <img class="card-item-img--back" src="../../img/harry-potter/luna-box.webp" alt="Figura Funko coleccionable de Luna Lovegood Lion Mask de la película de Harry Potter en caja">
              </picture>
                  <div class="card-item-content">
                      <p class="card-item-licence">HARRY POTTER</p>
                      <h4 class="card-item-name">LUNA LOVEGOOD LION MASK</h4>
                      <p class="card-item-price">$1799,99</p>
                      <p class="card-item-promo">3 CUOTAS SIN INTERÉS</p>
                </div>
            </a>
        </div>
   
        
      <section class="flex-btn"> <!--No puedo centrar n° ni centrarlos en pag. Ni hacer border radius-->
            <div class="glide__arrows" data-glide-el="controls">
              <button class="glide__arrow glide__arrow--left page" data-glide-dir="<"><iconify-icon icon="mdi:chevron-left"></iconify-icon></button>
            </div>
          <div class="page"><a href="/pages/shop/shop.html">1</a></div>
          <div class="page"><a href="/pages/shop/shop.html">2</a></div>
          <div class="page"><a href="/pages/shop/shop.html">...</a></div>
          <div class="page"><a href="/pages/shop/shop.html">9</a></div>
          <div class="page"><a href="/pages/shop/shop.html">10</a></div>
            <div class="glide__arrows" data-glide-el="controls">
              <button class="glide__arrow glide__arrow--right page" data-glide-dir=">"><iconify-icon icon="mdi:chevron-right"></iconify-icon></button>
            </div>
      </section>
  </div>
</main>

    <!--  ************* FOOTER ****************  -->

    <%- include("../partials/footer") %>

    <!--  ************* SCRIPTS ****************  -->
  </body>
</html>
