<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/create_Edit_contact.css">
    <link rel="stylesheet" href="../../css/admin.css">
    <link rel="stylesheet" href="../../css/Normalizacioncss.css">

    <title>Admin | Funkoshop</title>
</head>

<body>
  <!--  ************* HEADER ****************  -->

  <%- include("../partials/header_admin") %>

  <!--  ************** MAIN *****************  -->

    <main>
        <section class="admin-search">
        <div>
            <button class="search-button" type="button">
                <img src="../../img/icons/search_icon.svg" alt="icono de lupa">
            </button> 
        </div>
        <div>
            <input class="buscador" type="search" name="admin_buscar" id="admin_buscar" placeholder="código, nombre o categoria">
        </div>
        </section>

        <br>
    
        <div class="admin-container">
            <div class="table_header">
                <h1>LISTADO DE PRODUCTOS</h1>
                <div class="admin-btn-plus">
                <p>AGREGAR</p> <!--Falta centrar y negrita-->
                <button type="button"> <!--Falta sacar border-->
                    <img src="../../img/icons/plus_icon.svg" alt="icono de agregar">
                </button>
                </div>
            </div>
        </div> 
        
        <br>
        <br>

        <section class="section-container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Código</th>
                        <th>Nombre del Producto</th>
                        <th>Categoría</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>

                    <!-- ****** INICIO ****** Inserción dinámica desde la BD ****** INICIO ******   -->
                    <% data.forEach( elemento => { %>
                        <tr>
                            <td><%= elemento.product_id %></td>
                            <td><%= elemento.sku %></td>
                            <td><%= elemento.product_name %></td>
                            <td><%= elemento.licence_name.toUpperCase() %></td>
                            <td class="pencil_trash">
                                <button type="submit">
                                    <a href="/admin/edit/<%= elemento.product_id %>">
                                    <img src="/img/icons/edit_pencil.svg">
                                    </a>
                                </button>
                                <form action="./admin.html">  <!-- METHOD DELETE ? -->
                                    <button type="reset">
                                        <img src="/img/icons/delete_trash.svg">
                                    </button>
                                </form>
                            </td>
                        </tr>

                    <% })  %>

                    <!-- ******** FIN ******** Inserción dinámica desde la BD ******** FIN ********   -->
 
                    <tr>
                        <td>13</td>
                        <td>HPT001004</td>
                        <td>Snape Patronus</td>
                        <td>HARRY POTTER</td>
                        <td class="pencil_trash">
                            <button type="submit">
                                <a href="./edit.html">
                                <img src="/img/icons/edit_pencil.svg">
                                </a>
                            </button>
                            <form action="./admin.html">
                                <button type="reset">
                                    <img src="/img/icons/delete_trash.svg">
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    
    </main>

    <!--  ************* FOOTER ****************  -->

     <%- include("../partials/footer") %>

    <!--  ************* SCRIPTS ****************  -->
    
</body>
</html>